<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Servidor ExpressJS | Sobre</title>
</head>
<body>
    <h1>Página sobre</h1>
    <hr>
    <details>
        <summary>
            Algo muito importante pode estár escondindo sob seus olhos. Clique e descubra
            <p>Para de ser curioso(a) e volta pro código!</p>
        </summary>
    </details>
    <p>Essa é a nossa página inicial</p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto beatae enim magnam,
        nesciunt obcaecati odio quam quas rerum sequi. Adipisci corporis deserunt dignissimos
        dolorem harum impedit odio praesentium quis suscipit.
    </p>
    <p>
        <a href="/">Inicial</a> |
        <a href="/sobre">Sobre</a> |
        <a href="/contato">Contato</a>
    </p>
</body>
</html>