<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Setembro Amarelo</title>
</head>
<body>
    <header>
        <div class="container flex flex-col flex-wrap items-center p-5 mx-auto md:flex-row">

            <nav class="flex flex-wrap items-center text-base lg:w-2/5 md:ml-auto">
                <a href="#_" class="mr-5 font-medium hover:text-gray-900">Home</a>
                <a href="#_" class="mr-5 font-medium hover:text-gray-900">Sobre Nós</a>
                <a href="#_" class="font-medium hover:text-gray-900">Contato</a>
            </nav>
            <a
                    class="flex items-center order-first mb-4 font-medium text-gray-900 lg:order-none lg:w-1/5 title-font lg:items-center lg:justify-center md:mb-0">
                <svg xmlns="http://www.w3.org/2000/svg" width="101" height="44" viewBox="0 0 101 44" fill="none">
                    <g clip-path="url(#clip0_108_275)">
                        <path d="M26.4918 34.2256L21.8605 36.6691V44C21.8605 44 17.7892 39.8762 13.2459 34.3542C8.70265 39.8762 4.63127 44 4.63127 44V36.6691L0 34.2256C0 34.2256 19.5177 18.0024 20.5363 8.12631C20.5402 8.09209 20.5427 8.05738 20.5461 8.02267C20.5666 7.79387 20.5808 7.56702 20.5808 7.34556C20.5808 7.34311 20.5803 7.34116 20.5803 7.33871C20.5803 7.33724 20.5808 7.33529 20.5808 7.33333C20.5808 4.29587 17.2967 1.83333 13.2459 1.83333C9.19506 1.83333 5.91097 4.29587 5.91097 7.33333C5.91097 7.33529 5.91146 7.33724 5.91146 7.3392C5.91146 7.34164 5.91097 7.3436 5.91097 7.34604C5.91097 7.56751 5.92515 7.79436 5.94569 8.02316C5.94911 8.05787 5.95156 8.09209 5.95547 8.1268C6.27576 11.2327 8.42685 14.9668 11.2244 18.6267C9.50069 20.6697 7.65424 22.6375 5.90217 24.4004C3.07969 19.9657 1.02102 15.5838 1.02102 12.233C1.02102 8.07302 3.09338 4.70702 5.82002 2.56911C6.80926 1.70329 8.05864 1.01004 9.48259 0.564667C10.5334 0.206311 11.5916 0.0151556 12.5985 0.0151556C12.6958 0.0151556 12.774 0.0151556 12.8464 0.0156445C12.9799 0.0112445 13.1109 0 13.2459 0C13.3809 0 13.5119 0.0112445 13.6454 0.0151556C13.7178 0.0151556 13.796 0.0146668 13.8933 0.0146668C14.9002 0.0146668 15.9584 0.205822 17.0092 0.564178C18.4332 1.01004 19.6825 1.7028 20.6718 2.56862C23.3984 4.70702 25.4708 8.07302 25.4708 12.233C25.4708 16.2673 22.4869 21.7961 18.7784 27.1108C22.9344 31.2679 26.4918 34.2256 26.4918 34.2256Z" fill="#FFCD00"/>
                        <path d="M38.9599 21.9972C37.5637 21.9972 35.775 21.6047 35.1932 21.3866L35.7022 20.0198C36.2403 20.2234 38.4945 20.6887 39.5561 20.4996C39.9197 20.4415 40.2106 20.1071 40.2687 19.729C40.3269 19.2347 39.9633 18.7549 39.2507 18.4205C38.8144 18.2169 38 17.8679 37.3456 17.5917C36.9675 17.4317 36.633 17.2864 36.4294 17.1991C35.9059 16.9665 35.4696 16.603 35.1787 16.1813C34.9024 15.7597 34.757 15.2799 34.7715 14.7855C34.786 14.3202 34.9315 13.884 35.2078 13.506C35.4841 13.1134 35.8768 12.8226 36.3421 12.6482C36.9675 12.401 37.8691 12.401 39.018 12.6045C39.8906 12.779 40.6759 13.0262 41.0104 13.1425L40.5014 14.5093C40.2396 14.4075 39.527 14.1894 38.7417 14.044C37.5492 13.8113 37.0257 13.9422 36.8657 14.0004C36.473 14.1458 36.2403 14.4511 36.2258 14.8291C36.2113 15.2508 36.5167 15.6434 37.0257 15.876C37.2147 15.9487 37.5492 16.0941 37.9273 16.254C38.5818 16.5448 39.4107 16.8938 39.8761 17.1119C40.545 17.4317 41.0395 17.8389 41.3595 18.3478C41.6649 18.8421 41.7812 19.3801 41.7085 19.9326C41.5776 20.9358 40.7923 21.7501 39.8179 21.9245C39.5561 21.9682 39.2653 21.9972 38.9599 21.9972ZM44.8207 20.3979H48.7618V21.8518H43.3664V12.5609H48.4273V14.0149H44.8207V16.1668H48.1655V17.6208H44.8207V20.3979ZM55.8006 12.5609V14.0149H53.5319V21.8664H52.0776V14.0149H49.8234V12.5609H55.8006ZM58.7819 20.3979H62.723V21.8518H57.3276V12.5609H62.3885V14.0149H58.7819V16.1668H62.1268V17.6208H58.7819V20.3979ZM65.3407 21.8664H63.8719L64.8317 12.5609H67.2168L69.0056 19.729L70.7943 12.5609H73.1794L74.1392 21.8664H72.6704L71.8851 14.1458L69.8491 21.8664H68.1621L66.1406 14.1458L65.3407 21.8664ZM82.0069 16.9374C82.6905 17.4608 83.054 18.2169 83.054 19.0311C83.054 19.8599 82.6905 20.616 82.0069 21.1394C81.4252 21.6192 80.6399 21.8664 79.84 21.8664H75.7244V12.5755H79.3747C80.0873 12.5755 80.7563 12.7936 81.2798 13.2152C81.8906 13.695 82.2105 14.3493 82.2105 15.0908C82.2105 15.6724 82.0069 16.2249 81.6143 16.6611C81.7452 16.7484 81.8906 16.8356 82.0069 16.9374ZM79.3747 14.0294H77.1787V16.1522H79.3747C80.0582 16.1522 80.7563 15.7597 80.7563 15.0908C80.7563 14.422 80.0582 14.0294 79.3747 14.0294ZM79.84 20.4124C80.6981 20.4124 81.5997 19.9035 81.5997 19.0311C81.5997 18.1733 80.6981 17.6498 79.84 17.6498H77.1787V20.4124H79.84ZM90.0637 21.8664C90.0056 20.5578 89.1766 19.7436 87.9841 18.7549H85.9772V21.8664H84.5229V12.5755H85.5263H85.9772H88.5076C88.9148 12.5755 89.293 12.6482 89.6711 12.779C90.0346 12.9244 90.3837 13.1425 90.66 13.4042C91.2853 13.9858 91.6344 14.7855 91.6344 15.6579C91.6344 16.5448 91.2853 17.3445 90.66 17.9116C90.4273 18.1442 90.151 18.3187 89.8601 18.4641C90.1074 18.7112 90.34 18.9584 90.5582 19.2492C91.169 20.0344 91.4744 20.8777 91.518 21.8082V21.8664H90.0637ZM85.9772 17.3009H88.5076C89.322 17.3009 90.1801 16.7193 90.1801 15.6579C90.1801 14.5965 89.322 14.0294 88.5076 14.0294H85.9772V17.3009ZM99.982 13.7968C100.651 14.6256 101 15.7742 101 17.2137C101 18.6531 100.651 19.8017 99.982 20.6305C99.6184 21.0812 99.1531 21.4156 98.615 21.6483C98.0769 21.8809 97.4661 21.9972 96.7826 21.9972C96.099 21.9972 95.4882 21.8809 94.9502 21.6483C94.4121 21.4156 93.9467 21.0812 93.5831 20.6305C92.9141 19.8017 92.5651 18.6531 92.5651 17.2137C92.5651 15.7742 92.9141 14.6256 93.5831 13.7968C93.9467 13.3461 94.4121 12.9971 94.9502 12.7645C95.4882 12.5318 96.099 12.4155 96.7826 12.4155C97.4661 12.4155 98.0769 12.5318 98.615 12.7645C99.1531 12.9971 99.6184 13.3461 99.982 13.7968ZM98.8622 19.7145C99.313 19.162 99.5457 18.2896 99.5457 17.2137C99.5457 16.1232 99.313 15.2653 98.8622 14.7128C98.4114 14.1603 97.7133 13.8695 96.7826 13.8695C95.8664 13.8695 95.1683 14.1603 94.7175 14.7128C94.2666 15.2653 94.0194 16.1232 94.0194 17.2137C94.0194 18.2896 94.2666 19.162 94.7175 19.7145C95.1683 20.267 95.8664 20.5433 96.7826 20.5433C97.7133 20.5433 98.4114 20.267 98.8622 19.7145Z" fill="black"/>
                        <path d="M48.4518 31.3788H47.6025L49.105 26.1621H50.338L51.8487 31.3788H50.9913L50.5504 29.844L48.7702 30.2604L48.4518 31.3788ZM49.7256 26.9621L49.0315 29.3623L50.3217 29.0521L49.7256 26.9621ZM54.5581 31.3788H53.7333L54.2723 26.1539H55.6115L56.6158 30.1787L57.6202 26.1539H58.9594L59.4983 31.3788H58.6736L58.2326 27.0438L57.0895 31.3788H56.1422L55.0072 27.0438L54.5581 31.3788ZM62.2159 31.3788H61.3666L62.8691 26.1621H64.1022L65.6128 31.3788H64.7554L64.3145 29.844L62.5343 30.2604L62.2159 31.3788ZM63.4897 26.9621L62.7956 29.3623L64.0858 29.0521L63.4897 26.9621ZM70.7882 31.3788C70.7556 30.6441 70.2901 30.1869 69.6205 29.6317H68.4937V31.3788H67.6771V26.1621H68.2405H68.4937H69.9145C70.1431 26.1621 70.3555 26.2029 70.5678 26.2764C70.7719 26.358 70.9679 26.4805 71.123 26.6274C71.4742 26.954 71.6701 27.403 71.6701 27.8928C71.6701 28.3908 71.4742 28.8398 71.123 29.1582C70.9924 29.2889 70.8372 29.3868 70.6739 29.4685C70.8127 29.6072 70.9434 29.746 71.0659 29.9093C71.4088 30.3502 71.5803 30.8237 71.6048 31.3462V31.3788H70.7882ZM68.4937 28.8153H69.9145C70.3718 28.8153 70.8536 28.4888 70.8536 27.8928C70.8536 27.2969 70.3718 26.9785 69.9145 26.9785H68.4937V28.8153ZM74.6081 30.5543H76.8211V31.3707H73.7916V26.1539H76.6332V26.9703H74.6081V28.1786H76.4863V28.995H74.6081V30.5543ZM79.8162 30.5624H82.0291V31.3788H78.9997V26.1621H79.8162V30.5624ZM87.5965 26.8478C87.9721 27.3132 88.1681 27.9581 88.1681 28.7664C88.1681 29.5746 87.9721 30.2195 87.5965 30.6849C87.3924 30.938 87.1311 31.1257 86.8289 31.2564C86.5268 31.387 86.1838 31.4523 85.8001 31.4523C85.4163 31.4523 85.0733 31.387 84.7712 31.2564C84.469 31.1257 84.2077 30.938 84.0036 30.6849C83.628 30.2195 83.432 29.5746 83.432 28.7664C83.432 27.9581 83.628 27.3132 84.0036 26.8478C84.2077 26.5948 84.469 26.3988 84.7712 26.2682C85.0733 26.1376 85.4163 26.0723 85.8001 26.0723C86.1838 26.0723 86.5268 26.1376 86.8289 26.2682C87.1311 26.3988 87.3924 26.5948 87.5965 26.8478ZM86.9678 30.1706C87.2209 29.8603 87.3515 29.3705 87.3515 28.7664C87.3515 28.1541 87.2209 27.6724 86.9678 27.3622C86.7146 27.0519 86.3227 26.8887 85.8001 26.8887C85.2856 26.8887 84.8937 27.0519 84.6405 27.3622C84.3874 27.6724 84.2486 28.1541 84.2486 28.7664C84.2486 29.3705 84.3874 29.8603 84.6405 30.1706C84.8937 30.4808 85.2856 30.6359 85.8001 30.6359C86.3227 30.6359 86.7146 30.4808 86.9678 30.1706Z" fill="#FFCD00"/>
                    </g>

                </svg>
            </a>
            <div class="inline-flex items-center h-full ml-5 lg:w-2/5 lg:justify-end lg:ml-0">
                <a href="#_" class="mr-5 font-medium hover:text-gray-900">Login</a>
                <a href="#_"
                   class="px-4 py-2 text-xs font-bold text-white uppercase transition-all duration-150 bg-yellow-400 rounded shadow outline-none active:bg-teal-600 hover:shadow-md focus:outline-none ease">
                    Cadastre-Se
                </a>
            </div>
        </div>
    </header>

    <main class="h-[91vh]">
        <section class="bg-center bg-no-repeat bg-gradient-to-t from-yellow-200 to-gray-50 h-full flex items-center">
            <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
                <h1 class="mb-4 text-4xl font-extrabold text-gray-900 leading-none md:text-5xl lg:text-6xl">Consciência e Prevenção ao Suicídio</h1>
                <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48">Neste espaço, exploraremos o significado por trás do Setembro Amarelo, sua origem, a importância da conversa sobre saúde mental e forneceremos recursos valiosos para ajudar aqueles que precisam de apoio.</p>
                <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
                    <a href="#" class="inline-flex justify-center items-center py-3 px-5 text-white text-base font-medium text-center rounded-lg bg-yellow-500 hover:bg-yellow-600 focus:ring-4 focus:ring-blue-300 dark:focus:ring-gray-900">
                        Get started
                        <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </a>
                    <a href="#" class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 text-base font-medium text-center rounded-lg text-gray-900 border border-yellow-700 hover:bg-yellow-800 hover:text-white focus:ring-4 focus:ring-yellow-400">
                        Learn more
                    </a>
                </div>
            </div>
        </section>
    </main>


</body>
</html>